body {
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}

.button {
    border-radius: 8px;
    margin: 0px;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}

.button:active {
    background-color: darkgray;
    color: white;
}

.label {
    font-size: large;
    font-weight: bold;
}
